<a href="https://colab.research.google.com/github/NguyenTien-beep/Python/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
sys.version

'3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]'

In [ ]:
print('helo', end=' ')
print('i will print on the same line')

helo i will print on the same line

#Python String

##Modify Strings

In [ ]:
#upper case
a= ' Hello, World! '
print(a.upper())
#lower case
print(a.lower())
#remove whitespace
print(a.strip())
#replace string
print(a.replace('H','J'))
#split String
print(a.split(',')) # return a list

 HELLO, WORLD!
 hello, world!
Hello, World!
 Jello, World!
[' Hello', ' World! ']

##Concatenation

In [ ]:
a= 'Hello'
b= 'World'
#merge variable a with variable b
c= a + b
print(c)
#to add a space between them
c= a+' '+b
print(c)

HelloWorld
Hello World

## Python-Format-Strings

In [ ]:
age =36
# txt= 'My nae is John, I am ' +age
"""this will produce an error
however we can combine strings and numbers by using f-string on the format() method
"""
txt= f'my name is John, I am {age}'
print(txt)

my name is John, I am 36

## PlaceHolders and Modifiers

In [ ]:
price =59
txt= f'The price is {price:.1f} dollars'
print(txt)

x=f'the price is {2*4} dollars'
print(x)

The price is 59.0 dollars
the price is 8 dollars

## Escape Characters

In [ ]:
# \' -> '
txt =' we are the so-called\'Vikings\' from the north'
print(txt)

 we are the so-called'Vikings' from the north
we have a \protein\

In [ ]:
# \\ backslash
txt='we have a \\protein\\'
print(txt)

we have a \protein\

In [ ]:
# \r Carriage Return
txt='we have a \r protein\r'
print(txt)

 protein

In [ ]:
# \t tab
txt='we have a \t protein\r'
print(txt)

we have a 	 protein

In [ ]:
# \b backspace
txt='we have a\bprotein'
print(txt)

we have aprotein

In [ ]:
# \f form feed
txt='we have a \f protein'
print(txt)

we have a  protein

## String Method

In [ ]:
# capitalize() Converts the first character to upper case
txt=' hello Word'
print(txt.capitalize())

 hello word

In [ ]:
# casefold()	Converts string into lower case
txt=' hello Word'
print(txt.casefold())

 hello word

In [ ]:
# center()	Returns a centered string
txt=' hello beautiful Word '
print(txt.center(2))

 hello beautiful Word

In [ ]:
# endswith() return true if the strings ends with the specified value
txt=' hello beautiful Word '
print(txt.endswith('d'))

False

In [ ]:
# if we have \r \n or \', we can return to list without them means by splitlines()
s='line1\nline2\rline3'
print(s.splitlines())

['line1', 'line2', 'line3']

# Boolearns

In [ ]:
print(bool('learn1'))
print(bool(12))

True
True

bool se tra ve gia tri False neu no Empty va cung nhu False

In [ ]:
bool(False)

False

In [ ]:
class Myclass():
  def __len__(sefl):
    return 0
myobj= Myclass()
print(bool(myobj))

False

In [ ]:
def myFunction():
  return True
print(myFunction())

True

isinstance(): xac dinh lieu doi tuong co thuoc kieu du lieu nhat dinh hay khong

In [ ]:
x=200
print(isinstance(x,int))

True

#Operators

x/y: Division
x%y: modulus
x//y: floor division

In [ ]:
#/-division (returns a float)
x=12
y=5
print(x/y)

2.4

In [ ]:
#// -division always return integer and round downs to the nearest integer
x=12
y=5
print(x//y)

2

##Assignment Operators

x>>=3 : x=x>>3
print(x:=3) : x=3 printx

In [ ]:
numbers =[1,2,3,4,5]
count= len(numbers)
if count > 3:
  print(f'List has {count} elements' )
if (count := len(numbers)) >3:
  print(f'List has {count} elements' ) # x:= (se ap dung trong expression giup ngan gon de hieu hon)

List has 5 elements
List has 5 elements

## Identity Operators

is and not is chi co so sanh variable thoi

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)
print(x is y)
print(x == y)

True
False
True

## Bitwise Operators

& AND
| OR
^ XOR
~ NOT
<< Zero fill left shift
>> signed right shift

In [ ]:
print(~6)

-7

0

#LIST

##Python List

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
print(len(thislist))

['apple', 'banana', 'cherry']
3

In [ ]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)
print(type(list1))

['abc', 34, True, 40, 'male']
<class 'list'>

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

##Access List Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

##Change item Value

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

###Inswer Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2,'WaterMelon')
print(thislist)

['apple', 'banana', 'WaterMelon', 'cherry']

##Append Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

##Remove List Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove('banana')
print(thislist)

['apple', 'cherry']

### POP()

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

###del

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[1]
print(thislist)

['apple', 'cherry']

###clear()

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

##Loop Through a List

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

###While loop

In [ ]:
thislist = ["apple", "banana", "cherry"]
i=0
while i < len(thislist):
  print(thislist[i])
  i=i+1

apple
banana
cherry

##List Comprehension

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
for x in fruits:
  if 'a' in x:
    newlist.append(x)
print(newlist)

#syntax :newlist = [expression for item in iterable if condition == True]

newllist=[x for x in fruits if 'b' in x]
print(newllist)

['apple', 'banana', 'mango']
['banana']

###Iterable
The iterable can be any iterable object, like a list, tuple, set etc.

In [ ]:
newlist =[x for x in range(10)]
print(newlist)
newlist =[x for x in range(10) if x<5]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]

###Expression: The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [ ]:
newlist = [x.upper() for x in fruits]
print(newlist)
newlist=[ 'hello' for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['hello', 'hello', 'hello', 'hello', 'hello']

In [ ]:
newlist =[x if x != 'banana' else 'orange' for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

##Sort List Alphanumerically

In [2]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]

In [3]:
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

###Customize Sort Function

In [4]:
#key=function
def myfunc(n):
  return abs(n-50)
thislist =[100,50,65,82,23]
thislist.sort(key=myfunc)
print(thislist)

[50, 65, 23, 82, 100]

###Case Insensitive Sort

In [6]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [7]:
thislist.sort(key=str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

###Reverse Order

In [8]:
# reverse()
thislist.reverse()
print(thislist)

['Orange', 'Kiwi', 'cherry', 'banana']

##Copy a List

In [9]:
thislist = ["apple", "banana", "cherry"]
mylist= thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [11]:
# list()
yourlist= list(thislist)
print(yourlist)

['apple', 'banana', 'cherry']

In [12]:
# :(slice)
ourlist= thislist[:]
print(ourlist)

['apple', 'banana', 'cherry']

##JOIN TWO LISTS

In [14]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3= list1 +list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [15]:
for x in list2:
  list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [16]:
list2.extend(list1)
print(list2)

[1, 2, 3, 'a', 'b', 'c', 1, 2, 3]

#Tuple

3